// Base colors
$white: #fff;
$black: #060d20;

// Base colors
$body-color: #fff !default;
$gray: #505050;
$gray-800: rgba($black, 0.8) !default; // primary text
$gray-600: rgba($black, 0.6) !default;
$gray-450: rgba($black, 0.45) !default; // secondary text
$gray-250: rgba($black, 0.25) !default; // disabled text
