$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 988px;
$big-desktop-width: 1216px;

$s-4: 4px;
$s-6: 6px;
$s-8: 8px;
$s-10: 10px;
$s-12: 12px;
$s-14: 14px;
$s-16: 16px;
$s-18: 18px;
$s-20: 20px;
$s-22: 22px;
$s-24: 24px;
$s-26: 26px;
$s-28: 28px;
$s-30: 30px;
$s-32: 32px;
$s-36: 36px;
$s-40: 40px;
$s-48: 48px;
$s-52: 52px;
$s-56: 56px;
$s-64: 64px;
