// Fonts
$font-family: 'Work Sans', -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;

// Font weights
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 800 !default;

$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;
$fs-36: 36px;
$fs-38: 38px;
$fs-40: 40px;
$fs-44: 44px;
$fs-48: 48px;
