html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 1.4;
  background-color: $body-color;
  color: $black;
  width: 100vw;
  height: 100vh;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
