@import '../../../styles/base';

.c-banner {
  position: fixed;
  z-index: 200;
  bottom: 0;
  color: $white;
  padding: $s-18 $s-36;
  border-radius: 10px 10px 0 0;
  background-color: $black;
  opacity: 0;
  transform: translateY(160px);
  transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  &--show {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-wrapper {
  display: flex;
  align-items: center;

  .c-button {
    margin-left: $s-36;
    min-width: auto;
  }
}


@mixin banner--desktop-1024() {
  .c-banner {
    max-width: 500px;
    right: 35px;
    bottom: 35px;
    border-radius: 10px;
  }
}
